div img{
    width: 90px;
}

body{
    background-image: url('..//images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

h1{
    color: #B42E2E;
    text-align: center;
    font-size: 45px;
}

#container{
    text-align: center;
}

.svg{
    width: 150px;
    background-color: #1D3250;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 4px;

}

.box-1{
    width: 1100px;
    height:150px;
    margin: 40px;
    text-align: center;
    background-color: #b2c7e3;
}